<div style="display: flex; align-items: center; gap: 6px; justify-content: center; margin-bottom: 12px;">
    <a href="https://github.com/davidalvarezp/local-first-tools" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/github/stars/davidalvarezp/local-first-tools?style=for-the-badge&logo=github" alt="Stars" style="height: 24px;">
    </a>
    <a href="https://github.com/davidalvarezp/local-first-tools" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/github/forks/davidalvarezp/local-first-tools?style=for-the-badge&logo=github" alt="Forks" style="height: 24px;">
    </a>
</div>

<div class="widget-box">Comming soon...</div>
<div class="widget-box">Comming soon...</div>
